[submodule "priv/studio_proto"]
	path = priv/studio_proto
	url = https://github.com/timCF/studio_proto.git
[submodule "priv/studio_ui_admin"]
	path = priv/studio_ui_admin
	url = https://github.com/timCF/studio_ui_admin.git
[submodule "priv/studio_ui_observer"]
	path = priv/studio_ui_observer
	url = https://github.com/timCF/studio_ui_observer.git
[submodule "priv/studio_ui_iframe"]
	path = priv/studio_ui_iframe
	url = https://github.com/timCF/studio_ui_iframe.git
