[submodule "priv/studio_proto"]
	path = priv/studio_proto
	url = git@github.com:timCF/studio_proto.git
[submodule "priv/studio_ui_admin"]
	path = priv/studio_ui_admin
	url = git@github.com:timCF/studio_ui_admin.git
